:root {
    --color-one:#F89F5B;
    --color-two:#E53F71;
    --color-three:#9C3587;
    --color-four:#653780;
    --color-five:#3F1651;
    --text-color: white;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--color-five), black);
}

#ribbonBar {
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: var(--color-five);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sideNavigation {
    padding: 10px;
    position: fixed;
    top: 60px;
    left: 0;
    width: 280px;
    height: calc(100vh - 60px);
    background: linear-gradient(var(--color-five), #121212);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#sideNavigation>h1{
    padding-bottom: 10px;
}

main {
    position: fixed;
    top: 60px;
    left: 300px;
    padding: 10px;
    height: calc(100vh - 80px);
    width: calc(100vw - 320px);
    background: linear-gradient(var(--color-five), #121212);
    box-shadow: 0px 0px 4px 5px var(--color-one);
    border-radius: 5px;
    z-index: 1;
    background-color: red;
}

.line01 {
    border-top: 5px solid var(--color-one);
    width: 90%;
    box-shadow: 0px 0px 10px .5px var(--color-one);
}

.navigationList {
    list-style-type: none;
    width: 90%;
}

.navigationListItem {
    width: 100%;
    padding: 10px 0;
    border: .5px solid transparent;
}


/* https://stackoverflow.com/questions/26726436/css-bottom-border-transition-expand-from-middle */
.navigationListItem:after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }

.navigationListItem:hover:after {
    width: 100%;
    background: var(--color-one);
  }

.navigationLink {
    text-decoration: none;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleCard {
    text-align: center;
}

.titleCard>h1, .titleCard>p {
    font-size: 100px;
}

.callToAction {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.callToAction>h2 {
    color: #121212;
    font-size: 50px;
}

.callToAction:hover {
    background-color: var(--color-one);
}

.bracketWrapper {
    /* background-color: rebeccapurple; */
    /* align-self: baseline; */
    display: flex;
    gap: 20px;
}

.matchWrapper {
    /* background: red; */
    width: 300px;
    box-shadow: 0px 0px 5px 1px var(--color-one);
}

.matchItem {
    padding: 10px;
    background-color: var(--color-five);
    height: 5px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-one);
}

.tier1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tier2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tier3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tier4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card {
    font-size: 26px;
}

.matchList {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}


.nextMatchList {
    border: 2px solid white;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.nextMatchContent, .prevMatchContent {
    border-top: 2px solid white;
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nextMatchContent>li, .prevMatchContent>li {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
}

.teamNames{
    margin-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.teamNames>*, .schedule>*, .matchWinner>h1 {
    color: black;    
}

.schedule {
    margin-right: 20px;
}


.prevMatchList {
    border: 2px solid white;
}

.teamListWrapper {
}

.teamList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    overflow: scroll;
}

.teamListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
}


.teamListItem>* {
    color: black;
}
.teamListItem>img {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rebeccapurple;
}

.players {
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.players>li>* {
    color: black;
}

.playerList {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    gap: 10px;
}

#playerListHead {
    padding: 10px;
    border-bottom: 1px solid white;
    width: 100%;
}

.playerInfo {
    width: 90%;
    height: 50px;
    background-color: rebeccapurple;
    align-self: center;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.playerName {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
}

.playerName>*, .playerStats>* {
    color: black;
}


.playerStats {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

.leaderboardWrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
}

.rankings {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leader {
    width: 100%;
    border-bottom: 2px solid white;
}

.leaderCard {
    display: flex;
    flex-direction: column;
}

.slidercard {
    /* background-color: rebeccapurple; */
    margin: auto;
    width: 50%;
}