:root {
    --text-color: #EBEBEB;
    --background-color: #121212;
    --primary-color: #C4B6B7;
    --secondary-color: #425b4b;
    --tertiary-color: #9ED161;
}

* {
    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
}

html {
    background-color: var(--background-color);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width:80vw;
	padding:10px;
}

#navbar {
	background-color: var(--secondary-color);
	min-width: 100%;
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
	padding:10px;
	box-shadow: 3px 3px 0px 0px var(--tertiary-color);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#navlinks {
	display: flex;
	justify-content: left;
	gap: 10px;
}

.header1 {
	font-size: 2em;
	font-weight: bold;
	margin-top:0;
	margin-bottom:0;
	line-height: 1.2;
}

.no-link {
	text-decoration: none;
	color: inherit;
}

.navButton {
	background: none;
	color: inherit;
	border: none;
	padding: 10;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	font-size: 1.2em;
	border-radius: 3px;
	font-weight: bold;
}

.navButton:hover {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

.selected {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

#linkTree {
	margin: 10px;
}

#linkTreePhoto {
 width: 300px;
 border-radius: 50%;
}

#linkTreeList {
	display:flex;
	flex-direction: column;
	gap: 10px;
}

.linkTreeItem {
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	border: none;
	box-shadow: 3px 3px 0px 0px var(--tertiary-color);
	border-radius: 5px;
	cursor: pointer;
}

.linkTreeItem:hover {
	background-color: var(--tertiary-color);
	box-shadow: 3px 3px 0px 0px var(--secondary-color);
}


.linkTreeItem:hover>h2 {
	color: var(--secondary-color);
}

.linkTreeItem>img {
	width:50px;
	padding:10px
}
